
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #4a555e;
}

header {
    background-color: #f3b0b7;
    color: white;
    padding: 3rem 1rem;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    text-transform: lowercase; /* Estilo 'motitas' */
}


nav {
    background-color: #4a555e;
    text-align: center;
    padding: 1rem;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 2rem;
}

.proyecto-card {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    border-left: 5px solid #f3b0b7;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


#contacto {
    background-color: #fef0f1;
    padding: 3rem 1rem;
}

.main-form {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding no desborde */
}

.btn-enviar {
    background-color: #4a555e;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

.btn-enviar:hover {
    background-color: #f3b0b7;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    background: white;
}

table th {
    background-color: #4a555e;
    color: white;
    padding: 1rem;
}

table td {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #fff5f6;
}